<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundlePackageType</key>
    <string>FMWK</string>
    <key>CFBundleName</key>
    <string>hydra_dx</string>
    <key>CFBundleExecutable</key>
    <string>hydra_dx</string>
    <key>CFBundleIdentifier</key>
    <string>io.novasama.hydra-math</string>
    <key>CFBundleVersion</key>
    <string>0.4.1</string>
    <key>CFBundleShortVersionString</key>
    <string>0.4.1</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>iPhoneSimulator</string>
    </array>
    <key>DTPlatformName</key>
    <string>iphonesimulator</string>
    <key>DTSDKName</key>
    <string>iphonesimulator</string>
    <key>MinimumOSVersion</key>
    <string>16.0</string>
</dict>
</plist>
